.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.react-datepicker__month-container {
  
}

.react-datepicker__day-names .react-datepicker__day-name, .react-datepicker__day {
  margin-left: .5em !important;
  margin-right: .5em !important;
}

.react-datepicker__day {
  margin-top: .5em !important;
  margin-bottom: .5em !important; 
}

.react-datepicker__day-names .react-datepicker__day-name {
  color: #A0A3AB;
}

.react-datepicker__navigation-icon::before {
  color: #FECE54 !important;
  border-color: #FECE54 !important;
}

.react-datepicker__day--selected, .react-datepicker__day--keyboard-selected {
  background-color: #FECE54 !important;
  color: #122D22 !important;
}

.react-datepicker__day--today {
  color: #36BD8C !important;
}

.react-datepicker__current-month {
  color: #122D22 !important; 
}

